.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #0b2c4d;
  box-sizing: border-box;
  gap: 10px;
}

@media  (max-width: 350px) {
  .heading .logo {
    font-size: 6px;
    color: #ffffff;
  }
}


@media (min-width: 351px) and (max-width: 600px) {
  .heading .logo {
    font-size: 8px;
    color: #ffffff;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .heading .logo {
    font-size: 18px;
      color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .heading .logo {
    font-size: 25px;
      color: #ffffff;
  }
}




@media (max-width: 400px) {
  .enquiry-btn {
    font-size: 12px;
  }
}

@media (min-width: 401px)  and (max-width: 600px) {
  .enquiry-btn {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  .enquiry-btn {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .enquiry-btn {
    font-size: 15px;
  }
}

.enquiry-btn:hover {
  background-color: #1f7ae0;
}
